<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>9425240870-a68th020mfnmkke9p61dt4ficuq4an5f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.9425240870-a68th020mfnmkke9p61dt4ficuq4an5f</string>
	<key>API_KEY</key>
	<string>AIzaSyAv6mgAnXeUQVAYx1Bhd2fAkBaeFovD5vw</string>
	<key>GCM_SENDER_ID</key>
	<string>9425240870</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ocr</string>
	<key>PROJECT_ID</key>
	<string>ocr-b5eb0</string>
	<key>STORAGE_BUCKET</key>
	<string>ocr-b5eb0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:9425240870:ios:570f1d969fde78a260b7e7</string>
</dict>
</plist>